<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}} - Stream - Luke Miller</title>
    <link rel="stylesheet" href="../tufte-blog.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../stream.html">Stream</a></li>
        <li><a href="../lab.html">Lab</a></li>
        <li><a href="../garden.html">Garden</a></li>
        <li><a href="../essays.html">Essays</a></li>
        <li><a href="../about.html">About</a></li>
      </ul>
    </nav>

    <article>
      <h1>{{title}}</h1>
      <div class="post-meta">
        {{metadata}}
      </div>
      
      <section>
        {{content}}
      </section>

      {{backlinks}}
    </article>
  </body>
</html>
